---
import HeroPanel from '../components/HeroPanel.astro';
import { MazeCanvas } from '../components/MazeCanvas';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="relative w-full">
		<MazeCanvas client:load />
		<HeroPanel />
	</section>
</Layout>
