---
import { getCollection } from 'astro:content';
import HeroPanel from '../components/scene/HeroPanel.astro';
import { groupSectionsByScene } from '../content/sections';
import { MazeCanvas } from '../components/maze/MazeCanvas';
import Layout from '../layouts/Layout.astro';

const sections = await getCollection('sections');
const sectionGroups = groupSectionsByScene(sections);
---

<Layout>
	<section class="relative w-full">
		<MazeCanvas client:load />
		<HeroPanel sectionGroups={sectionGroups} />
	</section>
</Layout>
