---
import { SceneViewportController } from './SceneViewportController'
import type { SceneNavSlide, SceneTone } from '../../theme/sceneTheme'

interface Slide {
	id: string
	Component: any
	props?: Record<string, unknown>
	navTone: SceneTone
}

const { slides } = Astro.props as { slides: Slide[] }

const slideClass = 'flex w-full shrink-0 items-center justify-center py-3 md:h-[calc(100dvh-(var(--page-padding)*2))] md:py-0'
const navSlides: SceneNavSlide[] = slides.map(({ id, navTone }) => ({ id, navTone }))
---

<SceneViewportController client:load slides={navSlides}>
	{
		slides.map(({ id, Component, props = {} }) => (
			<section class={slideClass} data-scene-slide={id}>
				<Component {...props} />
			</section>
		))
	}
</SceneViewportController>
